/* --------------------------------------------------------------- PC ------------------------------------------------*/

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background-color: rgba(255, 255, 255, 1);
}

body.block {
  overflow: hidden;
}

h1 {
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: rgba(255, 255, 255, 1);
  margin: 0px;
  max-width: 892px;
}

h2 {
  margin: 0px;
  color: rgba(242, 120, 92, 1);
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
}

h3 {
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #0D606F;
  margin: 0;
  margin-bottom: 24px;
}

h4 {
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #0D606F;
  margin: 0px 0px 30px 0px;
}

a {
  text-decoration: none;
}

li {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}

.buttonWithArrow {
  display: flex;
  margin-top: 40px;
  text-decoration: none;
  border: none;
  outline: none;
  width: 228px;
  height: 59px;
  background: rgba(13, 96, 111, 1);
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  color: rgba(255, 255, 255, 1);
  align-items: center;
  justify-content: center;
  padding: 10px 32px;
}

.buttonWithArrow span {
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: rgba(255, 255, 255, 1);
  margin-left: 10px;
}

.blur {
  transition: 0.3s;
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0px;
  top: 0px;
  z-index: 149;
  background-color: #0d606f00;
  visibility: hidden;
}

.blur.active {
  visibility: visible;
  z-index: 149;
  background-color: rgba(0, 0, 0, 0.452);
}

/* ------------------------------------------------------------------- HEADER -------------------------------------------------------------------*/

.burger, 
.mobileMenuPoints {

  display: none;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  z-index: 100;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 1);
  align-items: center;
  height: 90px;
}
  
.nameLogo {
  display: flex;
  flex-shrink: 0;
  margin-bottom: 9px;
  width: 216px;
  height: 31px;
  font-family: 'Magra', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
}

.nameLogo span {
  margin: 0px 0px 0px 6px;
}
  
.header nav {
  width: 527px;
  margin-right: 38px;
  min-width: 450px;
}
  
.navList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}
  
.navList a {
  color: rgba(255, 255, 255, 1);
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  padding: 0px;
  margin: 0px;
}
  
.loginButton {
  flex-shrink: 0;
  text-decoration: none;
  background-color: rgba(13, 96, 111, 1);
  width: 103px;
  height: 41px;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  color: rgba(255, 255, 255, 1);
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

/* --------------------------------------------------------------------- MAIN -------------------------------------------------------------*/

.main {
  flex: 1 1 auto;
}

/* ------------------------------------------------------- PREVIEW -------------------------------------------------------------*/

.preview {
  height: 765px;
  max-width: 1440px;
  margin: 0 auto;
  background-image: url(pictures/preview-background.jpg);
  }

.previewContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 122px;
}

.previewContainer div {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  padding: 0px;
  margin: 34px 0px 44px 0px;
}

.previewForm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 15px);
}

.previewForm input {
  flex-grow: 1;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  border: none;
  outline: none;
  max-width: 892px;
  height: 95px;
  padding: 36px 291px 32px 41px;
  color: #07323b;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  
}

.previewForm button {
  z-index: 99;
  margin-left: -246px;
  width: 228px;
  height: 59px;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 1);
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  padding: 10px 32px;
}

::placeholder {
  color: rgba(242, 120, 92, 1);
  font-family: 'Aleo', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

/* STEPS --------------------------------------------------------------------------------------------------------------------*/

.stepsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 80px auto 97px;
  padding: 0 27px;
  width: 100%;
  height: 247px;
  align-items: center;
}

.stepIconsContainer {
  display: flex;
  height: 154px;
  width: 100%;
  justify-content: center;
}

.wrapperForIcons {
  display: flex;
  flex-basis: 33.3%;
}

.calendar {
  justify-content: center;
}

.plain {
  justify-content: flex-end;
}

.stepIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: flex;
  width: 100px;
  height: 100px;
  background: rgba(242, 120, 92, 1);
  border-radius: 16px;
  align-items: center;
  justify-content: center;
}

.iconText {
  text-align: center;
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(13, 96, 111, 1);
}

/* DESTINATION --------------------------------------------------------------------------------------------------------------------*/

.mobileSlider {
  display: none;
}

.destinationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1042px;
}

.slider {
  position: relative;
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
  width: 5100px;
  height: 800px;
  margin-right: -860px;
}

.slider div img {
  border-radius: 16px;
}

.slider-block {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.null {
  left: 0px;
}

.nullTransition {
  transition: 0.5s;
}

.one {
  left: 860px;
  transition: 0.5s;
}

.two {
  left: 1720px;
  transition: 0.5s;
}

.three {
  left: 2580px;
  transition: 0.5s;
}

.four {
  left: 3440px;
  transition: 0.5s;
}

.five {
  left: 4300px;
}

.text-slider {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: rgba(255, 255, 255, 1);
  z-index: 100;
  margin-top: -82px;
  margin-left: 15px;
}

.dots {
  display: flex;
  margin-top: 24px;
  width: 80px;
  height: 20px;
  justify-content: space-between;
}

.dots button {
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background: rgba(242, 120, 92, 0.5);
}


.dots button.bright {
  transition: 0.5s;
  background: rgba(242, 120, 92, 1);
}
/* STORIES --------------------------------------------------------------------------------------------------------------------*/

.mobilePhotos {
  display: none;
}

.stories {
  margin-top: 173px;
  height: 1331px;
  background-image: url(pictures/stories-bg.jpg);
  background-position: 50%;

}

.storiesBackground {
  padding-top: 1px;
  height: 1270px;
  background: rgba(255, 255, 255, 0.7);
}

.storiesContainer {
  margin: -94px auto;
  display: flex;
  flex-direction: column;
  min-height: 1322px;
  align-items: center;
}

.storiesBlock {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.oneStory {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 250px;
}

.oneStory img {
  filter: drop-shadow(0px 4px 4px rgba(13, 96, 111, 1));
  border-radius: 16px;
  margin-right: 15px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  height: 250px;
}

.textWrapper p {
  overflow: hidden;
  max-width: 760px;
  margin: 0;
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(13, 96, 111, 1);
}

.textWrapper a {
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: underline;
  color: rgba(13, 96, 111, 1);
}

.seeMore {
  padding: 10px 33px 10px 31px;
  justify-content: left;
}

/* FOOTER --------------------------------------------------------------------------------------------------------------------*/

.footerContainer {
  display: flex;
  height: 61px;
  margin-top: -61px;
}

.footerBlocks {
  display: flex;
  flex: 1 1 33.33%;
  align-items: center;
  justify-content: center;
}

.sm {
  justify-content: flex-end;
}

.footerBlocks span {
  text-align: center;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: rgba(255, 255, 255, 1);
}

.socialMedia {
  display: flex;
  justify-content: space-between;
  width: 141px;
  height: 34px;
  padding: 0;
}

/* Animation_______________________________________________________________________________________ */

.a-animation {
  transition-duration: 0.7s;
}

.a-animation:hover {
  cursor: pointer;
  transform: scale(0.8, 0.8);
}

.animation {
  transition-duration: 0.7s;
}

.animation:hover {
 
  transform: scale(0.95, 0.95);
  cursor: pointer;
}

.b-animation {
  transition-duration: 0.7s;
}

.b-animation:hover {
  cursor: pointer;
  color: #0d606fa3;
}

/* POPUP_______________________________________________________________________________________ */

.login .popupRegisterText {
  display: none;
}

.register .popupLoginText {
  display: none;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0px, -150%);
  transition: 0.5s;
}

.popup.active {
  transform: translate(0px, 0px);
}

.popup.active.leftHide {
  transform: translate(-150%, 0px);
}

.popupContainer {
  background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  display: flex;
  flex-basis: 650px;
}

.popupForm {
  display: flex;
  flex-direction: column;
  padding: 25px 45px 23px;
  align-items: center;
  width: 100%;
}

.popupForm.register {
  padding: 25px 45px 23px;
}

.popupForm.register .fbButton,
.popupForm.register .googleButton,
.popupForm.register .or,
.popupForm.register .forgotYourpassword {
  display: none;

}

.popupButton {
  width: 100%;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  min-height: 56px;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  height: 0px;
}

.fbButton {
  background: #1877F2;
  color: #FFFFFF;
}

.fbButton span,
.googleButton span {
  margin: 0px 0px 0px 15px;
}

.googleButton {
  background: #FFFFFF;
  color: rgba(13, 96, 111, 1);
  margin-top: 20px;
}

.signInButton span {
  margin: 0;
}

.signInButton {
  margin-top: 25px;
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  color: #FFFFFF;
  min-height: 54px;
}

.or {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(13, 96, 111, 0.5);
  min-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.or p {
  margin: 0px 9px;
}

.or::before {
  content: '';
  background-color: rgba(13, 96, 111, 0.5);
  height: 1px;
  width: 100%;
}

.or::after {
  content: '';
  background-color: rgba(13, 96, 111, 0.5);
  height: 1px;
  width: 100%;
}

.inputText {
  margin: 0px;
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0D606F;
  align-self: flex-start;
}

.passwordText {
  margin-top: 20px;
}

.popupInput {
  background: #FFFFFF;
  box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: 0px;
  width: 100%;
  min-height: 54px;
  margin-top: 5px;
  outline: none;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: rgba(13, 96, 111, 1);
  padding: 0px 25px;
  text-align: center;
}

.forgotYourpassword {
  width: 100%;
  text-align: center;
  padding-bottom: 26px;
  margin: 10px 0px 0px;
}

.popupLink {
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #0D606F;
}

.popupLink:visited {
  color: #0D606F;
}

.dontHaveAccount {
  width: 100%;
  text-align: center;
  margin: 0px;
  padding-top: 20px;
  font-family: 'Aleo', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: rgba(13, 96, 111, 0.5);
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  border-top: 1px solid rgba(13, 96, 111, 0.5);
}

.popupForm.register .dontHaveAccount {
  margin-top: 26px;
}

/* ----------------------------spoiler -------------------*/

.spoiler {
  position: fixed;
  right: calc(50% - 720px);
  top: 100px;
  width: 250px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  transition: 1s;
  transform: translate(150%, 0px);
  visibility: hidden;
}

.spoiler.active {
  transform: translate(0px, 0px);
  visibility: visible;
  z-index: 1001;
}

.spoilerIconWrapper {
  overflow: hidden;
  width: 45px;
}

.spoilerTextWrapper {
  padding-right: 50px;
  overflow: hidden; 
}

.spoilerText {
  transition: 1s;
}

.spoilerText.hide {
  transition: 1s;
  transform: translate(0px, -120%);
  visibility: hidden;
}

.spoilerCloseIcon.hide {
  transition: 1s;
  transform: translate(0px, -120%);
}

.spoiler div a {
  display: inline-block;
}

.qContainer {
  text-align: right;
  margin-right: 15px;
  margin-left: auto;
  width: 35px;
}

.spoilerQuestionIcon {
  transition: 1s;
  transform: translate(0px, 120%);
}

.spoilerQuestionIcon.show {
    transition: 1s;
    transform: translate(0px, 0px);
}

.spoilerQuestionIcon img {
    border: 2px solid white;
    border-radius: 100%;
}



.spoilerLable {
  font-weight: 700;
  font-size: 20px;
}
